{% extends 'base.html' %}

{% block head %}
    <title>Multiple Predictions</title>
{% endblock %}

{% block body %}
<br>
<br>
<h1>Multple Output Predictions</h1>

<div>
    <h1>File has been Uploaded and Predictions are Successfully done!!   </h1>
    <p style="font-size: 20px;">Please Download the file to your view for your results</p>
    <a href="/return-files/prediction.csv" target="blank">
        <button class="btn btn-success">Download</button></a>
</div>

{% endblock %}